* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* Colocar imagem de fundo */
    background-color: rgb(107, 107, 107);
    
    /* background-image: url(temas-de_fundo_HK_img/Menu_Theme_Classic_Current.webp); */
    
    /* Ajustar para cobrir a tela toda */
    background-size: cover;
    
    /* Fixar a iamgem para não rolar junto com a página */
    background-attachment: fixed;
    
    /* Centralizar a imagem */
    background-position: center;
    
    /* Remover a repetição da imagem */
    background-repeat: no-repeat;

    /* Define uma altura mínima para a página */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav1 {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.div1 {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 70px;
}

.nomeinicio {
    color: white;
    font-weight: bold;
}

.dialogoPersonalizado {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.sobreMim {
    color: white;
    margin: 0px 20px;
}

footer {
    background-color: rgba(17, 26, 50, 0.8);
    color: white;
    padding: 15px;
    border-top: 4px solid #050810;
    position: relative;
    text-align: center;
}