* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Colocar imagem de fundo */
    background-color: rgb(107, 107, 107);
    background-image: url(temas-de_fundo_HK_img/Menu_Theme_Classic_Current.webp);
    /* Ajustar para cobrir a tela toda */
    background-size: cover;
    /* Fixar a imagem para não rolar junto com a página */
    background-attachment: fixed;
    /* Centralizar a imagem */
    background-position: center;
    /* Remover a repetição da imagem */
    background-repeat: no-repeat;
    /* Define uma altura mínima para a página */
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
}

.nav1 {
    position: fixed;
    top: 0;
    background-color: rgba(17, 26, 50);
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
    border: solid 2px #050810;
    border-radius: 20px;
    margin: 5px 20px;
    /* z-index garanti que o menu de navegação fique na frente de tudo */
    z-index: 1000;
}

.div1 {
    display: flex;
    align-items: center;
    padding: 3px;
}

.logoImg {
    width: 15%;
    cursor: crosshair;
    transition: 30.0s;
}

.logoImg:hover {
    transform: rotate(10800deg);
}

.nomeInicio {
    color: white;
    font-weight: bold;
    font-family: none;
    font-size: 2.0rem;
}

.div2 {
    align-items: center;
    display: flex;
}

.navButtons {
    background-color: rgba(17, 26, 50, 0.8);
    border: 2px solid;
    border-radius: 10px;
    display: inline-flex;
    margin: 10px 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    align-items: center;
}

.navButtons:hover {
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, 0.7);
}

.buttonImg {
    width: 20px;
}

.hyperlink {
    text-decoration: none;
    color: white;
}

main {
    margin-bottom: 100px;
    margin: 70px 40PX;
}

.dialogoPersonalizado {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    transition: 0.5s;
}

.dialogoPersonalizado:hover {
    transform: scale(1.01);
}

.sectionGifs {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.hkWalk {
    margin-right: 400px;
    position: absolute;
    margin-top: -35px;
}

.hornetSitting {
    width: auto;
    height: 200px;
    position: absolute;
    margin-left: 600px;
    margin-top: -60px;
    z-index: 999;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.euImg {
    width: 500px;
    border-radius: 20px;
    box-shadow: -1px 0px 19px 5px #ff8c00;
    -webkit-box-shadow: -1px 0px 19px 5px #ff8c00;
    -moz-box-shadow: -1px 0px 19px 5px #ff8c00;
    transition: 0.5s;
    z-index: 998;
}

.euImg:hover {
    transform: scale(1.01);
}

.sobreMim {
    text-align: center;
    color: white;
    padding: 0px 30px;
    background-color: rgba(17, 26, 50, 0.8);
    border-radius: 20px;
    width: 500px;
    transition: 0.5s;
}

.sobreMim>h2 {
    font-size: 2.0rem;
}

.sobreMim:hover {
    transform: scale(1.01);
}

.projetosSection {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: blueviolet;
    display: flex;
    text-align: center;
}

.projetosDiv {
    padding-top: 50px;
}

.projetosImg {
    width: 15%;
}

.sectionCertificado {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ff8c00;
    display: flex;
    text-align: center;
}

.certificadosDiv {
    padding-top: 50px;
}

.certificadosImg {
    width: 20%;
}

footer {
    background-image: linear-gradient(to top, #050810, rgba(17, 26, 50, 0.8));
    background-color: rgba(17, 26, 50, 0.8);
    color: white;
    padding: 20px;
    /* border-top: 4px solid #050810; */
    position: relative;
    text-align: center;
}